.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 160px; /* Added */
}
.card-body{

    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */

    
}